@font-face {
  font-family: "ibmplexsans-medium";
  src: url("./fonts/medium.ttf");
}
  
@font-face {
  font-family: "ibmplexsans-regular";
  src: url("./fonts/regular.ttf");
}

@font-face {
  font-family: "ibmplexsans-semi-bold";
  src: url("./fonts/semi-bold.ttf");
}